.cn-button {
	padding: 22px 60px;
	box-shadow: 0px 2px 0px #05436300, 0px 2px 0px #054363, inset 0px 0px 4px rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0), #054363, inset 0 0 4px rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, $primary-color 0%, $secondary-color 100%);
	text-shadow: 1px 1px 0 $secondary-color;
	color: $white-color;
	font-family: $secondary-font-sans;
	font-size: $font-size;
	font-weight: 700;
	line-height: 1;
	outline: none;
	cursor: pointer;
	transition: .25s;
	position: relative;

	&:disabled,
	&_disabled {
		text-shadow: none;
		box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.8);
		background: $ligth-gray-color;
		color: $gray-color;
		cursor: default;
	}

	@include mq('xl', min) {
		&:not(.cn-button_disabled):not(:disabled):hover {
				box-shadow: 0 14px 28px rgba(56, 138, 234, 0.56), 0 2px 0 #054363, inset 0 0 8px rgba(255, 255, 255, 0.8);
			}
	}
	
	&:not(.disabled):not(:disabled):active {
		box-shadow: 0 14px 28px rgba(56, 138, 234, 0), 0 2px 0 rgba(5, 67, 99, 0), inset 0 2px 16px rgba(0, 0, 0, 0.8);
	}

	@include mq("md") {
		padding: 14px 35px;
	}
}