.cn-form-subscription {
	padding-top: 150px;
	padding-bottom: 90px;

	.cn-form-subscription-wrap {
		padding-top: 55px;
		padding-bottom: 30px;
		background-color: #f9f9f9;

		.cn-form-subscription-content {
			display: flex;
			z-index: 1;
			position: relative;
			padding-left: 150px;
			padding-right: 150px;
		}

		.cn-form-subscription__icon {
			display: inline-block;
			flex: 0 0 116px;
			max-width: 116px;
			height: 116px;
			background-image: url(../images/email.svg);
			background-position: 0 0;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 1;
		}

		form {
			flex-grow: 1;
			margin-left: 30px;
			display: flex;
			flex-wrap: wrap;
			position: relative;

			& > * {
				position: relative;
				z-index: 1;
			}

			&::before {
				width: calc(100% + 32px);
				height: 250%;
				position: absolute;
				top: -100%;
				left: 50%;
				transform: translateX(-50%);
				content: "";
				background-image: url(../images/form-bg-arrow.png);
				background-repeat: no-repeat;
				background-position: center;
				z-index: 0;
			}

			.cn-form-subscription__title {
				flex: 0 0 100%;
				max-width: 100%;
				font-size: 32px;
				font-weight: 400;
				line-height: 1;
				margin-top: 0;
				margin-bottom: 22px;
				color: $text-color;
			}

			.cn-form-subscription__field {
				flex-grow: 1;
				z-index: 2;
				input {
					background: $white-color;
					box-sizing: border-box;
					box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.04);
					border-radius: 2px;
					line-height: 18px;
					border: 1px solid $ligth-gray-color;
					color: $gray-color;
					padding: 20px;
					width: 100%;

					&:focus {
						outline: none;
						box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
					}
				}
			}

			.cn-form-subscription__button {
				flex: 0 0 30%;
				max-width: 30%;
				button {
					width: 100%;
				}
			}

			.cn-form-subscription__agree {
				margin-top: 10px;
				flex: 0 0 100%;
				max-width: 100%;
				position: relative;
				input {
					clip: rect(1px, 1px, 1px, 1px);
					appearance: none;
					position: absolute;

					& + label {
						padding-left: 24px;
						font-size: 12px;
						font-weight: 400;
						line-height: 14px;
						color: $text-color;
						padding-top: 2px;
						position: relative;

						&::before {
							width: 16px;
							height: 16px;
							border-radius: 2px;
							border: 1px solid $secondary-color;
							background-color: $ligth-gray-color;
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							transition: .25s;
						}

						&::after {
							width: 12px;
							height: 12px;
							content: "";
							position: absolute;
							top: 2px;
							left: 2px;
							background-image: url(../images/checked.svg);
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							transition: .25s;
						}

						a {
							color: $secondary-color;
							text-decoration: underline;

							&:active {
								text-decoration: none;
							}

							@include mq('xl', min) {
								&:hover {
									text-decoration: none;
								}
							}
						}
					}

					&:checked + label {
						&::before {
							background-color: $secondary-color;
						}

						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	@include mq("lg") {
		padding-top: 90px;

		.cn-form-subscription-wrap {
			.cn-form-subscription-content {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	@include mq("md") {
		.cn-form-subscription-wrap {
			.cn-form-subscription__icon {
				flex: 0 0 100px;
				max-width: 100px;
			}

			form {
				&::before {
					left: -146px;
					width: calc(100% + 162px);
					transform: translateX(0);

				}

				.cn-form-subscription__field {
					input {
						padding: 12px;
						font-size: $font-size;
					}
				}

				.cn-form-subscription__button {
					flex: 0 0 auto;
					max-width: 100%;
				}
			}
		}
	}

	@include mq("sm") {
		padding-top: 60px;
		padding-bottom: 60px;

		.cn-form-subscription-wrap {
			padding-top: 30px;

			.cn-form-subscription__icon {
				display: none;
			}

			form {
				margin-left: 0;
				flex-direction: column;

				&::before {
					left: -146px;
					width: calc(100% + 162px);
					transform: translateX(0);
					height: calc(100% + 120px);
					top: -60px;
					background-size: cover;
					background-position-x: right;
				}

				.cn-form-subscription__title {
					order: 1;
					flex: 0 0 auto;
				}

				.cn-form-subscription__agree {
					order: 3;
					flex: 0 0 auto;
					margin-top: 0;
					margin-bottom: 20px;
				}

				.cn-form-subscription__field {
					order: 2;
					margin-bottom: 20px;

					input {
						padding: 12px;
						font-size: $font-size;
					}
				}

				.cn-form-subscription__button {
					order: 4;
					flex: 0 0 auto;
					max-width: 100%;
				}
			}
		}
	}
}