.cn-header {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;

	.cn-header-top {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $ligth-gray-color;
		line-height: 1;
	}
	.cn-header-top-wrap {
		display: flex;
		justify-content: space-between;
	}
	.cn-header-top-search {
		i {
			font-size: 14px;
			padding-right: 5px;
			position: relative;
			top: -2px;
		}
	}

	.cn-header-bottom {
		padding-top: 14px;
	}

	.cn-header-bottom-wrap {
		display: flex;
		justify-content: space-between;
	}

	.cn-header__toggle {
		display: none;
		background-color: transparent;
		border: none;
		padding: 10px;

		svg {
			--toggle-color: #{$primary-color};
		}
	}

	.cn-header-logo {
		flex: 0 0 190px;
		max-width: 190px;

		a:hover {
			opacity: 1;
		}
	}

	.cn-header-menu {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;

			li {
				padding: 0 30px;
				margin-bottom: 0;

				&::before {
					content: none;
				}
			}

			a {
				display: inline-block;
				padding: 17px 0 31px;
				color: $secondary-color-text;
				border-bottom: 2px solid transparent;
				transition: .25s;
				font-size: 18px;

				&.active,
				&:active {
					color: $text-color;
					border-bottom-color: $primary-color;
					opacity: 1;
				}

				@include mq("xl", min) {
					&:hover {
						color: $text-color;
						border-bottom-color: $primary-color;
						opacity: 1;
					}
				}
			}
		}
	}

	.cn-header-phone {
		margin-top: -14px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

		.cn-header-phone__number {
			color: #000000;
			font-family: $secondary-font-sans;
			font-size: 1.5 * $font-size;
			font-weight: 600;
			line-height: 1.125;
		}

		.cn-header-phone__btn {
			color: $secondary-color;
			font-size: 0.875 * $font-size;
			font-weight: 400;
			line-height: 1.125;
			border-bottom: 1px dashed $secondary-color;
		}
	}
	
	.cn-header-bottom-search {
		display: none;
		font-size: 25px;
		margin-left: 16px;
		padding: 10px;
	}

	@include mq("xl") {
		.cn-header-logo {
			flex: 0 0 145px;
			max-width: 145px;
		}

		.cn-header-menu {
			ul {
				li {
					padding-left: 20px;
					padding-right: 20px;
				}

				a {
					font-size: 16px;
					padding: 12px 0 24px;
				}
			}
		}
	}

	@include mq("lg") {
		.cn-header-top {
			display: none;
		}

		.cn-header-bottom {
			padding: 10px 0;
		}

		.cn-header-bottom-wrap {
			align-items: center;
		}

		.cn-header__toggle {
			display: inline-block;
			flex: 0 0 40px;
			max-width: 40px;
			height: 40px;
			margin-right: 16px;
		}

		.cn-header-menu {
			flex-grow: 1;
			ul {
				display: none;
			}
		}

		.cn-header-phone {
			display: none;
		}

		.cn-header-bottom-search {
			display: inline-block;
		}
	}

	@include mq("sm") {
		.cn-header-logo {
			flex: 0 0 100px;
			max-width: 100px;
		}

		.cn-header__toggle {
			flex: 0 0 20px;
			max-width: 20px;
			height: 20px;
			padding: 0;
		}

		.cn-header-bottom-search {
			font-size: 22px;
		}
	}
}