.cn-services {
	margin: -100px auto 70px auto;	
	box-sizing: border-box;
	line-height: 1;
}

.cn-services-wrap {
	margin-left: -16px;
	margin-right: -16px;
	display: flex;
}

.cn-services-item {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	border-radius: 2px;
	padding: 0 16px;

	
	a {
		height: 300px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: #f9f9f9;
		padding: 30px;
		box-shadow: 0px 10px 46px rgba(0, 0, 0, 0);
		overflow: hidden;
		transition: .25s;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			background-image: linear-gradient(to left, #f4c380 0%, #bb843b 100%);
			opacity: 0;
			transition: .25s;
		}

		&:hover {
			opacity: 1;
		}
	}

	.cn-services-item__title {
		position: relative;
		display: inline-block;
		font-size: 2 * $font-size;
		margin: 0 0 20px 0;
		font-weight: 300;
		line-height: 34px;
		transition: .25s;
		z-index: 1;
		color: $text-color;

		&::before {
			position: absolute;
			bottom: -10px;
			left: 0;
			content: "";
			width: 200px;
			border: 1px solid #d0d0d0;
		}
	}

	.cn-services-item__button {
		position: relative;
		opacity: 0;
		padding: 10px 20px;
		border: 1px solid #fff;
		color: #fff;
		background-color: transparent;
		font-size: 12px;
		outline: none;
		transition: .25s;
		z-index: 1;
		cursor: pointer;

		&:active {
			background-color: $white-color;
			color: #d7a662;
		}
	}

	.cn-services-item__icon {
		user-select: none;
		pointer-events: none;
		position: absolute;
		bottom: -3px;
		left: 0;

		svg {
			transition: .25s;
			--icon-color: #{$ligth-gray-color};
		}
	}

	.cn-services-item__img {
		user-select: none;
		pointer-events: none;
		position: absolute;
		bottom: -3px;
		right: 0;
	}

	&:active {
		a {
			box-shadow: 0px 10px 46px rgba(0, 0, 0, 0.24);

			&::before {
				opacity: 1;
			}
		}

		.cn-services-item__title {
			color: $white-color;
		}

		.cn-services-item__button {
			opacity: 1;
		}

		.cn-services-item__icon {
			svg {
				--icon-color: #d7a662;
			}
		}
	}

	@include mq('xl', min) {
		&:hover {
			a {
				box-shadow: 0px 10px 46px rgba(0, 0, 0, 0.24);

				&::before {
					opacity: 1;
				}
			}

			.cn-services-item__title {
				color: $white-color;
			}

			.cn-services-item__button {
				opacity: 1;
			}

			.cn-services-item__icon {
				svg {
					--icon-color: #d7a662;
				}
			}
		}
	}
}

@include mq("lg") {
	.cn-services {
		margin-top: -80px;
	}
	
	.cn-services-wrap {
		margin-left: -10px;
		margin-right: -10px;
	}
	
	.cn-services-item {
		padding-left: 10px;
		padding-right: 10px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		a {
			padding: 20px;
		}
	
		.cn-services-item__title {
			font-size: 1.5 * $font-size;
		}
	}
}

@include mq("md") {
	.cn-services-wrap {
		flex-direction: column;
	}

	.cn-services-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}