.cn-main-slider {
	.cn-main-slide {
		min-height: 32vw;
		padding: 70px 15px 180px;
		display: flex !important;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.cn-main-slide-wrap {
		padding: 0 90px;
	}
	.cn-main-slide__title {
		max-width: 40%;
		display: inline-block;
		font-family: $secondary-font-sans;
		font-size: 3.75 * $font-size;
		line-height: 1.15;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 20px;
		color: $text-color;
	}

	.cn-main-slide__description {
		font-size: 1.25 * $font-size;
		line-height: 1.5;
		margin-top: 0;
		margin-bottom: 30px;
	}

	@include mq("lg") {
		.cn-main-slide {
			min-height: 32vw;
			padding: 50px 15px 150px;
		}
		.cn-main-slide-wrap {
			padding: 0 60px;
		}
		.cn-main-slide__title {
			max-width: 60%;
			font-size: 3 * $font-size;
		}
	
		.cn-main-slide__description {
			font-size: 1.125 * $font-size;
		}
	}

	@include mq("md") {
		.cn-main-slide {
			min-height: 32vw;
			padding: 40px 15px 110px;
			background-position: center left;
		}
		.cn-main-slide-wrap {
			padding: 0 40px;
			text-align: center;
		}
		.cn-main-slide__title {
			max-width: 100%;
			font-size: 2.5 * $font-size;
		}
	
		.cn-main-slide__description {
			font-size: $font-size;
		}
	}

	@include mq("sm") {
		.cn-main-slide {
			min-height: 80vw;
		}
		.cn-main-slide-wrap {
			padding: 0;
			text-align: center;
		}
		.cn-main-slide__title {
			max-width: 100%;
			font-size: 2 * $font-size;
		}
	
		.cn-main-slide__description {
			font-size: $font-size;
		}
	}
}