$breakpoints_width: (
  "xs" : 0,
  "sm" : 576px,
  "md" : 768px,
  "lg" : 992px,
  "xl" : 1200px
);

$breakpoints_height: (
  "xs" : 0,
  "sm" : 576px,
  "md" : 768px,
  "lg" : 992px,
  "xl" : 1200px,
);

@mixin mq($size, $type: max, $isHeight: false) {
  @if $isHeight == false {
    @if map_has_key($breakpoints_width, $size) {
      $width: map_get($breakpoints_width, $size);
      @if $type == max {
        $width: $width - 1px;
      }
      @media only screen and (#{$type}-width: $width) {
        @content;
      }
    }
  } @else {
    @if map_has_key($breakpoints_height, $size) {
      $height: map_get($breakpoints_height, $size);
      @if $type == max {
        $height: $height - 1px;
      }
      @media only screen and (#{$type}-height: $height) {
        @content;
      }
    }
  }
}