html {
	font-size: $font-size;
	font-weight: 400;
	line-height: 1.3;
}

body {
	color: $text-color;
	font-family: $font-sans;
	font-size: $font-size;
	line-height: 1.5 * $font-size;;
	overflow-x: hidden;
	overscroll-behavior-y: none;
}

a {
	color: $text-color;
	cursor: pointer;
	text-decoration: none;

	&:hover:not(.button) {
		opacity: 0.8;
	}
}