$white-color:					#fff;
$ligth-gray-color:		#e7eef2;
$gray-color:					#60727e;
$text-color:					#000;
$secondary-color-text:#3e3e3e;
$primary-color:				#388aea;
$secondary-color:			#0572a9;
$third-color:					#054363;

$font-size: 16px;

$font-sans: "FontEkibastuzRegular", Arial, sans-serif;
$secondary-font-sans: "Helvetica", sans-serif;