<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://opt-1429737.ssl.1c-bitrix-cdn.ru/bitrix/cache/css/s1/pfc_custom/template_216064a747298f772366cf89ac342fbb/template_216064a747298f772366cf89ac342fbb_v1.css?1571569802575647")
		title Краевой центр оценки квалификации
	body
		header.cn-header
			.cn-header-top
				.maxwidth-theme
					.cn-header-top-wrap
						.cn-header__address 660021, г. Красноярск, проспект Мира, дом 115А
						a.cn-header-top-search.inline-search-show
							i.fa.fa-search
							span Поиск
			.cn-header-bottom
				.maxwidth-theme
					.cn-header-bottom-wrap
						button.cn-header__toggle
							svg(width="18" height="16" viewBox="0 0 18 16" xmlns="http://www.w3.org/2000/svg" fill="var(--toggle-color)")
								path(d="M330,114h16a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H330a1,1,0,0,1-1-1h0A1,1,0,0,1,330,114Zm0,7h16a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H330a1,1,0,0,1-1-1h0A1,1,0,0,1,330,121Zm0,7h16a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H330a1,1,0,0,1-1-1h0A1,1,0,0,1,330,128Z" transform="translate(-329 -114)")
						.cn-header-logo
							a(href="javascript:void(0);")
								img(src="./images/logo.svg")
						.cn-header-menu
							nav
								ul
									li
										a(href="javascript:void(0);") О Центре
									li
										a(href="javascript:void(0);") Независимая оценка
									li
										a(href="javascript:void(0);") Профстандарты
									li
										a(href="javascript:void(0);") Новости
						.cn-header-phone
							a.cn-header-phone__number(href="tel:+7 (391) 200-23-32") +7 (391) 200-23-32
							a.cn-header-phone__btn Заказать звонок
						a.cn-header-bottom-search.inline-search-show
							i.fa.fa-search


		main
			.cn-main-slider
				div.cn-main-slide(style="background-image: url(./images/slide-1.jpg)")
					.maxwidth-theme.cn-main-slide-wrap
						h2.cn-main-slide__title Пройди независимую оценку
						p.cn-main-slide__description Подай заявку и подтверди свою квалификацию
						button.cn-button Записаться на оценку
				div.cn-main-slide(style="background-image: url(./images/slide-1.jpg)")
					.maxwidth-theme.cn-main-slide-wrap
						h2.cn-main-slide__title Пройди независимую оценку
						p.cn-main-slide__description Подай заявку и подтверди свою квалификацию
						button.cn-button Записаться на оценку
				div.cn-main-slide(style="background-image: url(./images/slide-1.jpg)")
					.maxwidth-theme.cn-main-slide-wrap
						h2.cn-main-slide__title Пройди независимую оценку
						p.cn-main-slide__description Подай заявку и подтверди свою квалификацию
						button.cn-button Записаться на оценку


			.cn-services.maxwidth-theme
				.cn-services-wrap
					.cn-services-item
						a(href="javascript:void(0);")
							h3.cn-services-item__title Внедрение <br> профстандартов
							button.cn-services-item__button Подробнее
							.cn-services-item__icon
								svg(width="170" height="181" viewBox="0 0 170 181" xmlns="http://www.w3.org/2000/svg" fill="var(--icon-color)")
									path(d="M87.3142 167.465L61.1506 150.466L31.9102 166.945C28.9673 168.607 26.2787 168.904 24.3383 167.784C22.3742 166.65 21.3061 164.137 21.3316 160.711L21.5685 127.521L-7.07681 112.965C-14.7323 109.066 -25.2337 106.965 -30.9859 108.188C-36.8106 109.425 -44.7675 116.275 -49.103 123.784L-53.9135 132.116C-58.402 139.89 -55.7281 149.871 -47.954 154.359L71.9063 223.56C79.6776 228.047 89.6607 225.374 94.1491 217.6L98.9596 209.268C103.295 201.759 105.248 191.444 103.407 185.78C101.585 180.194 94.5217 172.143 87.3142 167.465Z")
									path(d="M26.0922 158.549C25.7252 161.795 27.6759 163.028 30.4482 161.291L39.8768 155.397L37.8781 146.809L44.2021 144.985L40.8254 138.993L34.1402 138.979L35.56 145.36L27.3263 147.577L26.0922 158.549Z")
									path(d="M78.3622 73.994C82.3305 76.2851 85.3231 79.6253 87.1994 83.464L96.505 82.7628C94.1099 76.0573 89.4384 70.1335 82.8058 66.3042C67.9562 57.7307 48.8967 62.8373 40.323 77.6874C31.7496 92.537 36.8537 111.595 51.7063 120.17C66.5588 128.745 85.6156 123.637 94.189 108.787C96.2599 105.2 97.5159 101.365 98.0442 97.4888L88.9151 98.1803C88.4344 100.291 87.635 102.371 86.4951 104.345C80.3683 114.957 66.7531 118.602 56.1445 112.477C45.5349 106.352 41.8853 92.7387 48.0121 82.1267C54.1387 71.5139 67.7522 67.8683 78.3622 73.994Z")
									path(d="M26.2312 69.5514C13.1721 92.1704 20.9514 121.199 43.5694 134.257C66.1855 147.314 95.2157 139.538 108.275 116.919C112.056 110.371 114.038 103.284 114.47 96.2041L105.525 96.8822C105.026 102.221 103.436 107.538 100.583 112.479C89.9731 130.856 66.39 137.177 48.0101 126.566C29.6297 115.954 23.3122 92.37 33.9227 73.9921C44.5332 55.6142 68.1163 49.293 86.4966 59.9049C95.3172 64.9975 101.323 73.0868 104.048 82.1505L113.091 81.4638C110.03 69.5579 102.401 58.8322 90.9368 52.2132C68.3193 39.1549 39.2905 46.932 26.2312 69.5514Z")
									path(d="M135.647 79.0445L129.104 83.7047C128.308 83.1739 127.348 82.8826 126.32 82.9587L71.3601 87.1216C71.2194 87.0269 71.1012 86.9135 70.9522 86.8275C67.4143 84.7848 62.8884 85.9975 60.8458 89.5355C58.8034 93.073 60.0158 97.5993 63.5538 99.642C67.0913 101.684 71.6174 100.471 73.6598 96.9337C73.8686 96.572 74.021 96.1919 74.1633 95.8125L126.993 91.8116C128.019 91.7332 128.924 91.2995 129.629 90.6564L136.8 94.2771L150.568 93.2357L142.377 86.1948L149.415 77.9999L135.647 79.0445Z")
							.cn-services-item__img
								img(src="./images/img-1.png")

					.cn-services-item
						a(href="javascript:void(0);")
							h3.cn-services-item__title Независимая <br> оценка <br> квалификации
							button.cn-services-item__button Подробнее
							.cn-services-item__icon
								svg(width="137" height="123" viewBox="0 0 137 123" xmlns="http://www.w3.org/2000/svg" fill="var(--icon-color)")
									path(d="M131.879 68.637L120.242 57L123.242 54L117.242 48L119.15 46.092C122.924 42.321 125 37.305 125 31.968C125 20.958 116.042 12 105.029 12C99.698 12 94.685 14.076 90.908 17.85L89 19.755L83 13.755L80 16.755L68.363 5.118C65.108 1.866 60.602 0 56 0C51.398 0 46.892 1.866 43.637 5.121L-43.879 92.637C-47.182 95.937 -49 100.329 -49 105C-49 109.674 -47.182 114.063 -43.879 117.366L19.622 180.879C22.925 184.182 27.314 186 32 186C36.602 186 41.108 184.134 44.363 180.879L131.879 93.363C135.182 90.063 137 85.671 137 81C137 76.329 135.182 71.937 131.879 68.637ZM89 28.245L95.15 22.095C97.79 19.452 101.3 18 105.029 18C112.733 18 119 24.267 119 31.971C119 35.706 117.548 39.213 114.908 41.85L108.758 48L114.758 54L101 67.758L69.242 36L83 22.242L89 28.245ZM44 136.758L33.299 126.057L41.045 118.287L51.758 129L44 136.758ZM38 91.242L48.782 102.024L41.036 109.794L30.242 99L38 91.242ZM42.242 87L50 79.242L60.761 90.003L53.015 97.773L42.242 87ZM26 103.242L36.8 114.042L29.054 121.812L18.242 111L26 103.242ZM56 124.758L45.278 114.036L53.024 106.266L63.758 117L56 124.758ZM68 112.758L57.257 102.015L65.003 94.245L75.758 105L68 112.758ZM80 100.758L54.242 75L68 61.242L93.758 87L80 100.758ZM50 70.758L36.242 57L50 43.242L63.758 57L50 70.758ZM32 61.242L45.758 75L2 118.758L-11.758 105L32 61.242ZM14 115.242L24.821 126.063L17.075 133.833L6.242 123L14 115.242ZM29.063 130.305L39.758 141L35 145.758L32 142.758L29 145.758L21.317 138.075L29.063 130.305ZM32 151.242L36.758 156H27.242L32 151.242ZM44 154.758L39.242 150L102.242 87L50 34.758L-20.242 105L24.758 150L19.994 154.764L-29.758 105L56 19.242L66.758 30L60.758 36L101 76.242L107 70.242L117.758 81L44 154.758ZM127.637 89.121L40.121 176.637C37.982 178.773 35.024 180 31.985 180C28.961 180 26.003 178.773 23.864 176.634L-39.637 113.121C-41.806 110.955 -43 108.069 -43 105C-43 101.934 -41.806 99.051 -39.637 96.879L47.879 9.363C50.018 7.227 52.976 6 56 6C59.024 6 61.982 7.227 64.121 9.363L75.758 21L71 25.758L56 10.758L-38.242 105L18.746 162H45.242L126.242 81L111.242 66L116 61.242L127.637 72.879C129.806 75.048 131 77.934 131 81C131 84.066 129.806 86.952 127.637 89.121Z")
							.cn-services-item__img
								img(src="./images/img-2.png")

					.cn-services-item
						a(href="javascript:void(0);")
							h3.cn-services-item__title Оценка <br> под должность
							button.cn-services-item__button Подробнее
							.cn-services-item__icon
								svg(width="162" height="116" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 116" fill="var(--icon-color)")
									path(d="M158.496 50.6001C158.486 50.5969 158.478 50.5925 158.468 50.5892L118.341 36.4311L119.903 32.0054C122.486 24.6844 118.631 16.6264 111.31 14.0434L75.9039 1.55092C68.5829 -1.03216 60.525 2.82262 57.9419 10.1436L56.3804 14.5694L16.2533 0.41128C13.7891 -0.458148 11.1151 0.868988 10.266 3.27551L-24.0882 100.643C-26.6713 107.964 -22.8165 116.022 -15.4956 118.605L109.016 162.536C116.337 165.119 124.395 161.265 126.978 153.944L161.3 56.6699C161.302 56.6642 161.304 56.6584 161.306 56.6526C162.162 53.6861 160.931 51.4776 158.496 50.6001ZM66.7935 13.2667C67.6544 10.8268 70.3409 9.54159 72.7808 10.4025L108.187 22.8949C110.627 23.7558 111.912 26.4423 111.051 28.8822L109.49 33.308L65.2319 17.6925L66.7935 13.2667ZM149.204 57.2741L120.913 93.656C119.671 95.254 117.555 95.8745 115.647 95.2015L90.7511 86.4174L92.3126 81.9916C93.1751 79.5471 91.8929 76.8668 89.4484 76.0043L54.0422 63.5118C51.5976 62.6493 48.9173 63.9315 48.0548 66.3761L46.4933 70.8018L21.5971 62.0177C19.6896 61.3447 18.4313 59.5334 18.4674 57.5101L19.271 11.4295L149.204 57.2741ZM81.8995 83.2943L78.7764 92.1458L52.2217 82.7765L55.3448 73.9249L81.8995 83.2943ZM118.127 150.821C117.266 153.261 114.579 154.546 112.139 153.685L-12.3725 109.753C-14.8124 108.892 -16.0976 106.206 -15.2367 103.766L9.49484 33.6713L9.08218 57.3467C8.97552 63.416 12.7504 68.8498 18.474 70.8692L43.3702 79.6534L41.8086 84.0792C40.9461 86.5237 42.2283 89.204 44.6728 90.0665L80.0791 102.559C82.5236 103.421 85.2039 102.139 86.0664 99.6947L87.628 95.2689L112.524 104.053C118.248 106.073 124.597 104.211 128.322 99.4184L142.858 80.7262L118.127 150.821Z")
							.cn-services-item__img
								img(src="./images/img-3.png")


			.cn-form-subscription
				.cn-form-subscription-wrap
					.cn-form-subscription-content.maxwidth-theme
						i.cn-form-subscription__icon
						form
							h4.cn-form-subscription__title Получай полезные материалы на почту
							.cn-form-subscription__field
								input(type="text" placeholder="Электронная почта")
							.cn-form-subscription__button
								button.cn-button Подписаться
							.cn-form-subscription__agree
								input(id="form-subscription-agree" type="checkbox" name="agree")
								label(for="form-subscription-agree") Я ознакомлен и согласен	с 
									a(href="javascript:void(0);") условиями использования
									|  и обработки моих 
									a(href="javascript:void(0);") персональных данных