@import 'base/variables'; 
@import 'base/mixins';

@font-face {
	font-family: 'FontAwesome';
	src: url('./../fonts/fontawesome/fontawesome-webfont.eot');
	src: url('./../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'), 
				url('./../fonts/fontawesome/fontawesome-webfont.woff') format('woff'), 
				url('./../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'), 
				url('./../fonts/fontawesome/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal
}

body .maxwidth-theme {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) {
	body .maxwidth-theme {
		max-width: 1344px;
	}
}

@import '../fonts/fontawesome/fontawesome.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';

@import 'base/reset';
@import 'base/typography';

@import 'components/button';
@import 'components/header';
@import 'components/slider';
@import 'components/services';
@import 'components/form-subscription';